
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Control de Facturas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
</head>
<body class="cover" style="background-image:url({{asset('assets/img/loginFont.jpg')}});">

<form action="{{path('login_check')}}" method="post" autocomplete="off" class="full-box logInForm">
    <p class="text-center text-muted"><i class="zmdi zmdi-account-circle zmdi-hc-5x"></i></p>
    <p class="text-center text-muted text-uppercase">Inicia sesi칩n con tu cuenta</p>
    {% if error %}
        <div class="alert alert-warning text-center">
            <button class="close" data-dismiss="alert"></button>
            <span>{{ error.message }}</span>
        </div>
    {% endif %}
    <div class="form-group label-floating">
        <label class="control-label" for="UserEmail">Correo</label>
        <input class="form-control" id="UserEmail" type="email" name="_username">
        <p class="help-block">Escribe tu Correo</p>
    </div>
    <div class="form-group label-floating">
        <label class="control-label" for="UserPass">Contrase침a</label>
        <input class="form-control" id="UserPass" type="password" name="_password">
        <p class="help-block">Escribe tu contrase침a</p>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Iniciar sesi칩n" class="btn btn-raised btn-danger">
    </div>
    <div class="text-center">{{ 'today'| date('Y') }} &copy; FAC</div>

</form>

<!--====== Scripts -->
<script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/material.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/ripples.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/sweetalert2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
<script>
    $.material.init();
</script>
</body>
</html>