{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dato</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dato.id }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ dato.direccion }}</td>
            </tr>
            <tr>
                <th>Web</th>
                <td>{{ dato.web }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ dato.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ dato.telefono }}</td>
            </tr>
            <tr>
                <th>Datobancario</th>
                <td>{{ dato.datobancario }}</td>
            </tr>
            <tr>
                <th>Titular</th>
                <td>{{ dato.titular }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ dato.iban }}</td>
            </tr>
            <tr>
                <th>Bic</th>
                <td>{{ dato.bic }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dato_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dato_edit', { 'id': dato.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
